@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

body{
  padding: 40px;
  background-color: #121212;  
}

.footer {
  position: fixed;
  left: 0;
  bottom: 5%;
  width: 100%;
  text-align: center;
  font-family: "Source Code Pro", monospace;
  color: white;
}

.output {
  text-align: center;
  font-family: "Source Code Pro", monospace;
  color: white;
}
.output h1 {
  font-size: 30px;
}

.cursor::after {
  content: "";
  display: inline-block;
  margin-left: 3px;
  background-color: white;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

h1.cursor::after {
  height: 24px;
  width: 13px;
}

p.cursor::after {
  height: 13px;
  width: 6px;
}

@keyframes blink {
  0% { opacity: 1; }
  49% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 0; }
}

/*h1,h2 {
  font-weight: 100%;
}
h1 { font-size: 100%; color: rgba(255,255,255,.70); font-family: 'Source Code Pro', monospace; }

/*
#parent {
  height: 40px;
  white-space: nowrap;
  overflow: hidden; 
  font-family: 'Source Code Pro', monospace;  
  font-size: 100%;
  color: rgba(255,255,255,.70);
  position: relative;
}

#border {
  border-bottom: solid 3px rgba(0,255,0,.75);
  position: absolute;
  right: -7px;
  width: 20px;
}

#parent {
  animation: animated-text 2s steps(30,end) 1s 1 normal both
}

#border {
   animation: animated-cursor 600ms steps(30,end) infinite;
}

@keyframes animated-text{
  from{width: 0;}
  to{width: 1100px;}
}

@keyframes animated-cursor{
  from{border-bottom-color: rgba(0,255,0,.75);}
  to{border-bottom-color: transparent;}
}*/